/.idea
/**/target
/**/*.iml
/**/*.project
/**/*.settings
/**/*.classpath
/**/app-private-*.properties
/**/target
/**/*.iml
/**/*.project
/**/*.settings
/**/*.classpath
*.class
/web/bin
/common/bin
/service/bin
/.externalToolBuilders/
# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.d

*.class

/common/bin
#for rpc cache
#remote.client.conf

/.externalToolBuilders/


